<div id="card">
<h2>Sign-up!  </h2>


    <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
    <button id="facebook" onclick="location.href='/users/auth/facebook'">Sign in with Facebook</button>
    <br />
    <% end -%>
    <% end -%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.label :name, "Pick your username:" %><br>
  <%= f.text_field :name %>
</div>

<div class="field" >
  <%= f.label :role, "Are you a...?" %><br />
  <%= f.select :role, ["band", "host"] %>
</div>

<div class="field">
  <%= f.label :users_gravatar, "Icon:" %><br>
  <%= f.file_field :users_gravatar %>
</div>

<div class="field">
  <%= f.label :email, "Email:"%><br />
  <%= f.email_field :email, autofocus: true %>
</div>


<div class="field">
  <%= f.label :password, "Create your password:" %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off"%>
</div>

<div class="field">
  <%= f.label :password_confirmation, "Confirm your password:"%><br />
  <%= f.password_field :password_confirmation, autocomplete: "off"%>
</div>

<div class="field">
 <%= f.label :bio, "About me:" %><br>
 <%= f.text_area :bio %>
</div>

<div class="actions-center">
  <%= f.submit "Sign up", :id =>"submit" %>
</div>
<% end %>

</div>

