<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Username:" %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :bio, "About:" %><br>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :users_gravatar, "Icon:" %><br>
    <%= f.file_field :users_gravatar %>
  </div>
  
  <% if can? :manage, :all %>

  <div class="field" id="date-inline">
    <%= f.label :role, "Role:" %><br>
    <%= f.select :role, ["band", "host", "admin"] %>
  </div>

  <div class="stats" id="date-inline">
      <ul>
        <li> Yes, user is verified <%= f.radio_button :verified, true %></li>
        <li> No, user is not verified <%= f.radio_button :verified, false  %></li>
      </ul>
  </div>
  <% end %>

  <div class="actions-center">
    <%= f.submit %>
  </div>
<% end %>