<ul class="bullets">
  <h2>List of members</h2>
</ul>

<table>
 <tbody>
  <% @users.each do |user| %>
  <tr>
    <td>
      <div class="ribbon-box">
        <div class="ribbon-wrapper">
          <%= image_tag user.users_gravatar.thumb.url %>
          <div class="ribbon"><%= user.role %></div>
        </div>
      </div>
    </td>
    <td><%= link_to user.name, user %>
      <br>
      <%= user.try(:bio).truncate_words(10) %></td>
      <td><%= user.verified %></td>
      <% if can? :edit, user %>
      <td><%= link_to('Edit Account', edit_user_path(user)) %> | <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


