<p id="success"><%= notice %></p>

<ul class="bullets">
  <li class="bullet">
    <div class="bullet-content">
      <h2>List of members</h2>
    </div>
  </li>  
</ul>

<table>
  <thead>
    <tr>
     <th>Gravatar</th>
      <th>Name</th>
      <th>Verified</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.gravatar %></td>
      <td><%= link_to user.name, user %></td>
      <td><%= user.verified %></td>
      <td><%= user.role %></td>
      <% if can? :edit, user %>
        <td><%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

