
<br>
<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= image_tag @user.try(:users_gravatar) %>
    </div>
    <div class="card-header">
    <br>
    <ul class="bullets">
      <h2><%= @user.name %>, <%= @user.role %>
        <% if can? :edit, @user %>
          (<%= link_to('Edit Account', edit_user_path(@user)) %> | 
          <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>)
        <% end %>
      </h2> 
    </ul>
    </div>
    <div class="card-copy">
      <p><%= @user.bio %></p>
    </div>
    <%#= @user.verified %>
  </div>
</div>

<br>

<% if can? :create, Comment %>

<h2>Feedback from previous hosts:</h2>

<%= render @comments %>
<%= render partial: 'comments/form', locals: { commentable: @user }%>

<% end %>


<br>
<br>

