<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Artist</th>
      <th>Start date</th>
      <th>End date</th>
      <th>N of people</th>
      <th>Status</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.message %></td>
        <td><%= request.user_id %></td>
        <td><%= request.start_date %></td>
        <td><%= request.end_date %></td>
        <td><%= request.n_of_people %></td>
        <td><%= request.accepted %></td>
        <td><%= link_to 'Show', request %></td>
        <% if can? :edit, request %>
          <td><%= link_to 'Edit', edit_request_path(request) %></td>
          <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if can? :create, @offer %>
          <td><%= link_to "Create New Offer", new_request_offer_path(request_id: request.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Request %>
  <%= link_to 'New Request', new_request_path %>
<% end %>
