<ul class="bullets">
  <li class="bullet">
    <div class="bullet-content">
      <h2>Bands looking for a couch</h2>
      <% if can? :create, Request %>
      <div class="button-group">
        <label>
          <input type="radio" name="button-group" value="other-item">
          <span class="button-group-item">
            <%= link_to 'New Request', new_request_path %>
          </span>  
        </label>  
      </div>
      <%end%>
    </div>
  </li>  
</ul>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Artist</th>
      <th>Start date</th>
      <th>End date</th>
      <th>N of people</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
    <tr>
      <td><%= link_to request.message.truncate_words(10), request %></a></td>
      <td><%= request.user.try(:name) %></td>
      <td><%= time_tag request.start_date %></td>
      <td><%= time_tag request.end_date %></td>
      <td><%= request.n_of_people %></td>
      <td><%= request.accepted %></td>
      <% if can? :edit, request %>
        <td><%= link_to 'Edit', edit_request_path(request) %> | <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>


