<br>
<br>




<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="{#@user.users_gravatar.thumb.url}" alt="">
    </div>
    <div class="bullet-content">

    <h2> <%= @request.user.name %> is looking for a couch: </h2>

      <p>
        <strong>Message:</strong>
        <%= @request.try("message") %>
      </p>

      <p>
        <strong>Start date:</strong>
        <%= time_tag @request.start_date %>
      </p>

      <p>
        <strong>End date:</strong>
        <%= time_tag @request.end_date %>
      </p>

      <p>
        <strong>N of people:</strong>
        <%= @request.n_of_people %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @request.accepted %>
      </p>



      <p>
        <h2>Offers:</h2>

        <% @request.offers.each do |offer| %>
        <ul class="bullets">
          <li class="bullet">
            <div class="bullet-icon bullet-icon-1">
              <img src="{#@user.users_gravatar.thumb.url}" alt="">
            </div>
            <div class="bullet-content">
              <h2><%= offer.user.name %><%= link_to ', Accept?', accept_request_offer_path(@request, offer), method: :put if can? :create, Request %></h2>
              <p><%= offer.message %></p>
              <% if can? :create, Request %>
              <%end%>
              <p>
                <%= link_to 'Edit', edit_request_offer_path(@request, offer) if can? :edit, Offer %>
                <%= link_to 'Destroy', request_offer_path(@request, offer), method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, Offer  %>
              </p>
            </div>
          </li>  
        </ul>
        <% end %>
      </p>
    </div>
  </li>  
</ul>





<div class="button-group">
  <% if can? :create, Offer %>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item">
      <%= link_to 'Make a new offer', new_request_offer_path(@request) %>
    </span>
  </label>
  <%end%>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item">
      <%= link_to 'Edit the request', edit_request_path(@request) %>
    </span>
  </label>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item">
      <%= link_to 'Back to index', requests_path %>
    </span>
  </label>
</div>

<br>
<br>
<br>
<br>
<br>





