<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @request.try("message") %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @request.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @request.end_date %>
</p>

<p>
  <strong>N of people:</strong>
  <%= @request.n_of_people %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.accepted %>
</p>

<p>
  <strong>Offers:</strong>
  <ul>
    <% @request.offers.each do |offer| %>
    <li>
      <ul>
        <li><%= offer.message %></li>
        <li><%= offer.user_id %></li>
        <li><%= offer.offered %></li>
          <% if can? :create, Request %>
            <li><%= link_to 'Accept', accept_request_offer_path(@request, offer), method: :put%></li>
          <%end%>
        <li><%= link_to 'Show', request_offer_path(@request, offer) %></li>
        <li><%= link_to 'Edit', edit_request_offer_path(@request, offer) if can? :edit, Offer %></li>
        <li><%= link_to 'Destroy', request_offer_path(@request, offer), method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, Offer  %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</p>


<%= link_to 'new offer', new_request_offer_path(@request) if can? :create, Offer %>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>









