<br>
<br>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <% image_tag @user.try(:users_gravatar) %>
    </div>
    <div class="bullet-content">

      <h2> <%= @request.user.name %> is looking for a couch: </h2>

      <p>
        <%= @request.try("message") %>
      </p>


      <div class="stats">
        <ul>
          <li><span>From</span><%= time_tag @request.start_date %></li>
          <li><span>To</span><%= time_tag @request.end_date %></li>
          <li><span>N. people</span><%= @request.n_of_people %></li>
          <li><span>Fulfilled?</span><%= @request.accepted %></li>
        </ul>
      </div>

      <p>
        <h2>Offers:</h2>

        <% @request.offers.each do |offer| %>
        <ul class="bullets">
          <li class="bullet">
            <div class="bullet-icon bullet-icon-1">
            </div>
            <div class="bullet-content">
              <h2><%= offer.user.name %><%= link_to ', Accept?', accept_request_offer_path(@request, offer), method: :put if can? :create, Request %> </h2>
              <p><%= offer.message %></p>
              <% if can? :create, Request %>
              <%end%>
              <p>
                <%= link_to 'Edit', edit_request_offer_path(@request, offer) if can? :edit, Offer %> |
                <%= link_to 'Destroy', request_offer_path(@request, offer), method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, Offer  %>
              </p>
            </div>
          </li>  
        </ul>
        <% end %>
      </p>
    </div>
  </li>  
</ul>





<div class="tiny">
  <% if can? :create, Offer %>
  <%= link_to 'Make a new offer', new_request_offer_path(@request) , :id => "uhm"%>
  <%end%>
  <%= link_to 'Edit the request', edit_request_path(@request) , :id => "uhm"%>
</div>

<br>






