<p id="notice"><%= notice %></p>

<%=  @offer.inspect %>
<p>
  <strong>Message:</strong>
  <%= @offer.try('message') %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer.try('user_id')%>
</p>

<p>
  <strong>Request:</strong>
  <%= @offer.try('request_id')%>
</p>



<p>
  <strong>Offered:</strong>
  <%= @offer.try('offered') %>
</p>

<%= link_to 'Edit', edit_request_offer_path(@request, @offer) %> |
<%= link_to 'Back', request_offers_path(@request, @offer) %>
