<!DOCTYPE html>
<html>
<head>
  <title>FinalPrj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Requests', requests_path %> |
  'Offers' <%#= link_to 'Offers', request_offers_path %> |
  <%= link_to 'Users', users_path %> |
  <% if current_user %>
  logged in as: <%= link_to "#{current_user.name}", current_user %> |
  <% else %> 
  Login/Signup |
  <% end %>
  <% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('Edit Account', edit_user_registration_path(@user)) %> |
  <% else %>
  <%= link_to('Login', new_user_session_path) %> |
  <%= link_to "Sign up", new_user_registration_path %> |
  <% end %>

  <%= yield %>

</body>
</html>
