<!DOCTYPE html>
<html>
<head>
  <title>FinalPrj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><h1>TourCouch</h1></li>
        <% if can? :create, Request %>
          <li><%= link_to 'Find a counch', new_request_path %></li>
        <% end %>
        <li><%= link_to 'Host a band', requests_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.name}", current_user %></li>
          <li><%= link_to('Edit Account', edit_user_registration_path(@user)) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
